.Rhistory
*/.Rhistory
.Rproj.user
*~
*/#*
*/.#*
\#*
target.mk
makestuff/
doc-update
namespace-update
install
*.log
*.tex
*.synctex*
*.toc
*.pdf
*.html
*/*.wrapR.r
*/*.Rout
*/.*.RData
*/.*.Rlog
cache
*/*_cache/
*/*_files/