## content from makestuff
makestuff
*.ld.tex
jekyll.log
*.page.pdf
*.wide.pdf
*.RData
*.Rlog
.Rhistory
*.Rout*
*.wrapR.*
*.Rds
local.mk
target.mk
make.log
go.log
commit.time
commit.default
up.time
all.time
*.all
pages
.clean_dir
dotdir/
clonedir/
*.oldfile
*.olddiff
*.blame
*/.Rhistory
.Rproj.user
*~
*/#*
*/.#*
\#*
target.mk
doc-update
namespace-update
install
*.log
*.tex
*.aux
*.bbl
*.blg
*.out
*.synctex*
*.toc
*.pdf
*.html
*/*.wrapR.r
*/*.Rout
*/.*.RData
*/.*.Rlog
cache
*/*_cache/
*/*_files/
*.o
*.so
*/*.wrapR.rout
*.Rlog
*.Rout.pdf
*.Rout.png
*.png
*/*.RData
.DS_Store
*/*.rda
