## content from makestuff
*.ld.tex
jekyll.log
makestuff
screens.mk
screens.list
.screens.list
research
web
tech
org
shi
1M
3SS
park
admin
staging
makestuff
coronavirus
Dropbox
ici3d
DataViz
earn
cygu
git_push
rabies
Workshops
legacy
planning
outbreak
Sandbox
projects
dirnames.mk
local.mk
target.mk
make.log
go.log
commit.time
commit.default
up.time
all.time
*.all
pages
.clean_dir
dotdir/
clonedir/
*.oldfile
*.olddiff
*.blame
*.ld.tex
jekyll.log
makestuff
screens.mk
screens.list
.screens.list
research
web
tech
org
shi
1M
3SS
park
admin
staging
makestuff
coronavirus
Dropbox
ici3d
DataViz
earn
cygu
git_push
rabies
Workshops
legacy
planning
outbreak
Sandbox
projects
dirnames.mk
local.mk
target.mk
make.log
go.log
commit.time
commit.default
up.time
all.time
*.all
pages
.clean_dir
dotdir/
clonedir/
*.oldfile
*.olddiff
*.blame
*.ld.tex
jekyll.log
makestuff
screens.mk
screens.list
.screens.list
research
web
tech
org
shi
1M
3SS
park
admin
staging
makestuff
coronavirus
Dropbox
ici3d
DataViz
earn
cygu
git_push
rabies
Workshops
legacy
planning
outbreak
Sandbox
projects
dirnames.mk
local.mk
target.mk
make.log
go.log
commit.time
commit.default
up.time
all.time
*.all
pages
.clean_dir
dotdir/
clonedir/
*.oldfile
*.olddiff
*.blame
*.ld.tex
jekyll.log
makestuff
screens.mk
screens.list
.screens.list
research
web
tech
org
shi
1M
3SS
park
admin
staging
makestuff
coronavirus
Dropbox
ici3d
DataViz
earn
cygu
git_push
rabies
Workshops
legacy
planning
outbreak
Sandbox
projects
dirnames.mk
local.mk
target.mk
make.log
go.log
commit.time
commit.default
up.time
all.time
*.all
pages
.clean_dir
dotdir/
clonedir/
*.oldfile
*.olddiff
*.blame
ONdata_2020May20.rda
ONcalib_2brks_2020Apr29.rda
ONcalib_mob1_2020May20.rda
ONcalib_2020Apr29.rda
ONcalib_2brks_2020May20.rda
ONcalib_2020May20.rda
ONdata_2020Apr29.rda
makestuff
*.ld.tex
jekyll.log
*.page.pdf
*.wide.pdf
*.RData
*.Rlog
.Rhistory
*.Rout*
*.wrapR.*
*.Rds
local.mk
target.mk
make.log
go.log
commit.time
commit.default
up.time
all.time
*.all
pages
.clean_dir
dotdir/
clonedir/
*.oldfile
*.olddiff
*.blame
ONdata_2020Jun01.rda
ONcalib_2brks_2020Apr29.rda
ONcalib_mob1_2020May20.rda
ONdata_2020Apr29.rda
ONcalib_2020Jun01.rda
ONcalib_2brks_2020Jun01.rda
ONcalib_2020May20.rda
ONcalib_mob1_2020Jun01.rda
ONdata_2020May20.rda
ONcalib_2020Apr29.rda
ONcalib_2brks_2020May20.rda
*.datatime
makestuff
*.ld.tex
jekyll.log
*.page.pdf
*.wide.pdf
*.RData
*.Rlog
.Rhistory
*.Rout*
*.wrapR.*
*.Rds
local.mk
target.mk
make.log
go.log
commit.time
commit.default
up.time
all.time
*.all
pages
.clean_dir
dotdir/
clonedir/
*.oldfile
*.olddiff
*.blame
